:root {
  --main-background-color: #deeff5;
  --form-background-color: #e3e4e4;
  --primary-color: #ffad5b;
  --secondary-color: #524a7d;
  --white: #fff;
  --border-radius: 10px;
  --box-shadow: #000000;
}

main {
  min-height: 100vh;
  background: var(--main-background-color);
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 600px;
}

form {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 0.28rem;
}

.form-group {
  background: var(--form-background-color);
  border-radius: var(--border-radius);
}

.heading {
  background: var(--primary-color);
  color: var(--white);
  font-weight: 500;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.input-group {
  margin: 0.5rem 0.7rem 0 0;
}

label {
  display: block;
  font-weight: 500;
}

input,
textarea {
  width: 200px;
  height: 2.5rem;
  padding: 0.2rem;
  margin-top: 0.25rem;
  outline: none;
  border: 1px solid var(--form-background-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 5px var(--box-shadow);
}

textarea {
  width: 300px;
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2.8rem;
  margin-left: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  background: var(--secondary-color);
  color: #fff;
  border-radius: var(--border-radius);
}

.fas {
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.bottom {
  align-self: flex-end;
}

.top {
  display: flex;
  flex-wrap: wrap;
}

.top,
.bottom {
  padding: 0.5rem;
}

.second {
  margin: 0.28rem 0;
}

.first .top,
.first .bottom,
.second .top,
.second .bottom,
.third .top,
.third .bottom {
  display: none;
}
